/* Common */
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
    text-decoration: none;
}
ul li {
    margin: 0 1em;
}
a {
    text-decoration: none;
    color: white;
}
/* Box line */
.box-line {
    height: 4px;
    background-color:white;
}
.box-line-d {
    height: 4px;
    background-color:var(--color-1);
}
/* Tipography */
h1,h2 {
    text-transform: uppercase;
}
p {
    text-transform: inherit;
}

/* color */
.text-color {
    background-color: var(--color-1);
}

/* Custom Property */
:root {
    /* Colors */
    --color-1: #2C3E50;
    --color-2: #1ABC9C;
    --color-3: #3A546D;
    /* Font */

}
/* DEBUG */
.c-box {
    border: 1px solid black;
    height: 20px;
}
.box-d i {
    color: var(--color-1);
}
.box i {
    color: white;
}

/* Header */
.nav {
    background-color: var(--color-1);
    height: 80px;
    line-height: 80px;
    text-transform: uppercase;
}
.box {
    
    color: white;
    border-radius: 15px;
}
.box .box-img {
    width: 80%;
    margin: 0 auto;
}
.main-menu {
    display: flex;
    justify-content: center;
}

/* Main */
/* Jumbotron */
#jumbotron {
    background-color: var(--color-2);
}
/* About */
#about {
    background-color: var(--color-2);
}
button {
    background-color: inherit;
    border: 1px solid white;
}

/* Footer */
/* Info */
#info {
    background-color: var(--color-3);
}
/* Bottom */
#bottom {
    background-color: var(--color-1);
}
.footer-bottom {
    color: white;
    font-size: .9rem;
}



/* Media Queries */

/* Tablet */

@media screen and (min-width:768px) {
    
}

/* Desktop */

@media screen and (min-width:992px) {
    
}